body {
    background-color: red;
    margin: 0;
}

.box {
    width: 300px;
    height: 400px;
    margin: 0;
    background: radial-gradient(green, #000a);
    margin: auto;
    border-radius: 7px;
    margin-top: 20px;
    border-top: 3px solid #900;
}

h1 {
    margin: 0;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}