body {
    background-color: #48e;
    margin: 0;
    font-family: sans-serif;
    color: white;

}
.box {
    width:100%;
    height: 190px;
    margin: 20px;
    margin: 0;
    background: url("https://img.freepik.com/fotos-premium/chica-anime-pelirroja-playa-generativa-ai_850810-1557.jpg?w=740") top / cover  fixed #6fa;
}