body {
    margin: 0;
    font-family: sans-serif;
}

div, body {
    box-sizing: border-box;
}

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid #000;
    margin: 20px;
    justify-content: space-evenly;
    height: 360px;
    align-content: center;
}

.flex-item {
    width: 100px;
    background-color: #911;
    text-align: center;
    font-size: 40px;
    color: white;
}

.flex-item:first-child{
    background-color: #f77;
}

.flex-item:last-child {
    background-color: #bbb;
}